#      Commons
*.bin
*.bat
.classpath
.settings/
.project
target/classes
target/maven-status
target/maven-archiver
*.log
build/**/*
*.sh
.metadata/
**/*.bak
**/bin/**
**/*.orig
**/*.db
Thumbs.db
/bin
*.jar
*.original
/target/

# System Files
.DS_Store
Thumbs.db
