#      Commons
*.bin
*.class
*.bat
.classpath
.settings/
.project
target/classes
target/maven-status
target/maven-archiver
*.log
build/**/*
*.sh
.metadata/
**/*.bak
**/bin/**
**/*.orig
**/*.db
Thumbs.db
build/
*.orig
/target/classes
/target/maven-status
/target/maven-archiver
/bin
*.jar
*.original
/target/
